NODE_ENV=development
PORT=8000
MONGO_URI= mongodb+srv://affliatebusinessprog_db_user:<password>@cluster0.usqqqhs.mongodb.net/instant_db

JWT_SECRET=
JWT_EXPIRES_IN=7d


FRONTEND_ORIGIN=http://localhost:5173

# Get the commercial License to access the Complete Envs 👉 https://techwithemma.gumroad.com/l/cxigr
